body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(3,3,3,1) 100%);
    text-align: center;
}


h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family:'Courier New', Courier, monospace;
}

textarea {
    text-align: center;
    resize: none;
    color: white;
    background-color: rgb(55, 55, 56);
    border: 3px solid black;
}

#h1Ultimas {
    background: none;
}

#mostrarSenha {
    background: none;
}

#ultimas {
    width: 200px;
    height: 300px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mostrar{
    width: 500px;
    height: 250px;
    font-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    width: 200px;
    height: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(163, 136, 203);
}
button:hover {
    background-color: red;
    font-style: oblique;
}

li{
    width: 500px;
    font-size: larger;
    color: white;
    background-color: rgb(55, 55, 56);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#ultimasSenhas {
    margin: auto;
    overflow: auto;
    height: 300px;
    border: 3px solid;
    width: 500px;
    background-color: rgb(55, 55, 56);
}
