*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: large;
}
#logo{
    width: 100px;
    height: 100px;
    filter:opacity(1);
    cursor: auto;
    border: 0px;
    box-shadow: 0px 0px 0px;
}

#carrinhoAdd{
    width: 200px;
    height: 100px;
    
}

#carrinhoAdd:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

#imagensAPI{
    width: 200px;
    height: 200px;
    border: 5px solid;
    color: rgb(9, 230, 9);
    border-radius: 10px;
    transition: 0.2s;
    
}

#imgCarrinhoAPI{
    width: 100px;
    height: 100px;
    border: 5px solid;
    color: rgb(9, 230, 9);
    border-radius: 10px;
    
    
}

#imgCarrinhoAPI:hover{
    
    border: 5px solid;
    color: rgb(9, 230, 9);
    border-radius: 10px;
    
    
}

#excluirImg{
    width: 110px;
    height: 110px;
    transition: 0.5s;
}
#excluirImg:hover{
    transform: scale(1.1);
}

#imagensAPI:hover{
    cursor: pointer;
    filter: opacity(0.7);
    box-shadow: 0px 0px 20px  rgb(216, 207, 207);
    transform: scale(1.1);
}

#headerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid ;
    box-shadow: 1px 1px 40px black;
    background-color: rgb(44, 34, 34);
    color: white;
    padding: 10px;
    gap: 10px;
}

#categoriaDiv{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-right: 1px solid;
    width: 10.3%;
    height: 1000px;
    padding: 10px;
    box-shadow: 1px 1px 40px black;
    background-color: rgb(44, 34, 34);
    color: white;
}

#mainDiv{
    float: left;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 50px;
    width: 66.4%;
    height: 1000px;
    padding: 10px;
    align-items: center;
    text-align: left;
    
    background-color: rgb(44, 34, 34);
    color: white;
}

#nomeProduto{
    width: 800px;
}

#modal{
    backdrop-filter: blur(15px);
    position: fixed;
    display: none;  
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

#spanFechar{
    float: right;
    font-size: x-large;
    position: relative;
    height: 10px;
    top: -130px;
    left: 450px;
    transition: 0.5s;
}

#spanFechar:hover{
    cursor: pointer;
    color: rgb(9, 230, 9);
}

#modalConteudo{
    justify-content: center;
    margin: auto;
    color: white;
    font-family: cursive;
    display: flex;
    position: relative;
    top: 200px;
    left: 50px;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(44, 34, 34);
    text-align: center;
    padding: 50px;
    border: 3px solid rgb(9, 230, 9);
    border-radius: 10px;
    box-shadow: 0px 0px 100px  rgb(216, 207, 207);
    width: 50%; 
    height: 400px;
    overflow: auto;
}

@keyframes modalAnim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#carrinhoDiv{
    text-align: center;
    justify-content: center;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border-left: 1px solid;
    width: 20%;
    height: 1000px;
    padding: 10px;
    box-shadow: 1px 1px 40px black;
    background-color: rgb(44, 34, 34);
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
#carrinhoItem{
    text-align: center;
    justify-content: center;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    height: 320px;
    padding: 10px;
    box-shadow: 1px 1px 40px black;
    background-color: rgb(44, 34, 34);
    color: rgb(9, 230, 9);
    
}


.botoesCategorias{
    height: 100px;
    border: 2px solid;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(9, 230, 9);
    transition: 0.5s transform;
}

.botoesCategorias:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-style: italic;
    box-shadow: 0px 0px 10px rgb(9, 230, 9);
}

#avancarCarrinho{
    position: sticky;
    
    top: -10px;
    width: 400px;
    height: 100px;
    background-color: rgb(47, 34, 34);
    border: 2px solid rgb(9, 230, 9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
}

#botaoAvancar{
   
    position: relative;
    top:30px;
    background-color: rgb(9, 230, 9);
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}
