*{
    margin: 0;
    padding: 0;
    font-family: luckiest guy;
    font-weight: 50;
}

.containerLogo{
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #1d2239;
}

.containerVbucksAmigos{
    display: flex;
    justify-content: right;
    width: 15%;
    background-color: #010824;
    gap: 10px;
    padding: 10px;
}

.headerLogo{
    width: 100%;
    display: flex;
}

.logo{
    color: white;
    background-color:#010824;
    width: 20%;
    display:  flex;
    justify-content: center;
    align-items: center;
}



.vbucks{
    background-color:#010824;
    color: white;
    border: 3px solid #6b8bb4;
    width: 15vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1vh;
    padding: 1px;
}

.vbucks h2{
    position:relative;
}

.imgVbucks{
    width: 4vh;
    height: 4vh;
}

.addVbucks{
    background-color: #213552;
    color: white;
    font-size: x-large;
    border: 0px;
    height: 100%;
    width: 50%;
}

.addVbucks:hover{
    opacity: 0.7;
    cursor: pointer;
}

.amigos{
    background-color:#010824;
    border: 3px solid #6b8bb4;
    color: white;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

body{
    background-image: url(imgs/vestiarioBack.png);
    background-size: 200%;
    animation: backgroundAnim 80s infinite alternate;
}

.vestiario{
    color: white;
    background-color: rgb(29, 34, 57,0.7);
    gap: 30px;
    height: 70vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
    padding: 1vh;
    left: 5vh;
    top: 5vh;
}

.vestiarioNome{
    background-color: #010824;
    position: relative;
    width: 102%;
    padding: 2px;
    top: -1vh;
    left: -1vh;
}

.botoesSelecionar{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoesSelecionar button{
    width: 20vh;
    padding: 5px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(131, 128, 128,0.4);
    border: 1px solid rgb(0, 0, 0,0.1);
    transition: .2s;
}

.botoesSelecionar button:hover{
   background-color: yellow;
   color: black;
}

.conta{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.gestos{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.categorias{
    border: 1px solid;
    height: 20vh;
    width: 12vh;
    display: flex;
    background-color: rgb(0, 0, 0,0.6);
    text-align: center;
    font-size: smaller;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.categorias img{
  width: 12vh;
}

.categorias2{
    border: 1px solid;
    height: 20vh;
    width:12vh;
    display: flex;
    background-color: rgb(0, 0, 0,0.6);
    align-items: center;
    justify-content: center;
}

.categorias2 img{
    width: 12vh;
}

.categorias:hover{
    cursor: pointer;
   opacity: 0.5;
}

.categorias2:hover{
    cursor: pointer;
   opacity: 0.5;
}

.mostrarItem{
    color: white;
    background-color: rgb(29, 34, 57,0.7);
    padding: 5px;
    width: 60vh;
    height: 70vh;
    float: right;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.mostrarItem::-webkit-scrollbar {
  width: 15px;
  background-color: #010824;
  border-radius: 10px;
}

.mostrarItem::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff;
}


.divCadaItem{
    border: 1px solid;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;

}

.divCadaItem:hover{
    opacity: 0.7;
    cursor: pointer;
}

.selecionado{
    border: 1px solid;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    background-color:  blue;
}


.divMostrarItem{
    background-color: transparent;
    width: 62vh;
    height: 80vh;
    float: right;
    overflow: auto;
    border-radius: 10px;
    position: relative;
    display: none;
    flex-direction: column;
    top: 5vh;
    right:  5vh;
    gap: 10px;
}

.opcaoBotoes{
    display: flex;
    justify-content: center;
    height: 5vh;
    float: inline-end;
    gap: 1vh;
}

.opcaoBotoes button{
    width: 25vh;
    border: 0px;
    background-color: rgba(58, 30, 88);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(0, 0, 0,0.3);
}

.opcaoBotoes button:hover{
    background-color: rgb(32, 12, 211);
}


img{
    width: 100px;
}

@keyframes backgroundAnim{
    from {
        background-position: left;
    }
    to{
        background-position: right;
    }
}

.modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(98, 98, 184,0.7);
    backdrop-filter: grayscale(100%);
    display: none;
    justify-content: center;
    align-items: center;
}

.modalConteudo{
    width: 70%;
    height: 70%;
    position: relative;
    background-color: #010824;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.skinImgModal{
    height: 500px;
    width: 500px;
}

.musicaLobby{
    background-color: #010824;
    border: 1px solid white;
    border-right: 0;
    width: 30vh;
    height: 30vh;
    right: 0;
    position: absolute;
    display: flex;
}
.musicaLobby button{
    width: 5vh;
}