#form{
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: rgb(186, 25, 25);
    color:  rgb(180, 196, 198);
    padding: 20px;
    font-size: larger;
    border: 3px solid black;
    box-shadow: 10px 20px 10px black;
    margin-top: 100px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}

#form:hover{
    background-color: orange;
    color: rgb(0, 0, 0);
    box-shadow: 3px 5px;
    
}

input{
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    margin-top: 10px;
    border-radius: 10px;
    font-family: cursive;
    background-color: rgb(193, 13, 13);
    color: rgb(180, 196, 198);
    box-shadow: 5px 5px 10px  black;
    transition: 0.5s;
    width: 55px;
}

button:hover{
    background-color: orange;
    color: black;
    box-shadow: 0px 0px 40px 5px rgb(255, 255, 0);
    transform: scale(1.2);
}


#divIframe{
    margin-top: -480px;
    margin-left:auto;
    padding: 20px;
    width: 700px;
    height: 500px;
    
   
}

iframe{
    opacity: 0.7;
    box-shadow: 10px 20px 10px rgb(0, 0, 0);
    width: 700px;
    height: 500px;
    border: 3px solid;
    border-radius: 10px;
    transition: 1s;
}
iframe:hover{
    opacity: 1;
    box-shadow: 3px 5px black;
}


