*{
    margin: 0;
    padding: 0;
    font-family: "Gidugu";
}

header{
    display: flex;
    top: 200px;
    position: fixed;
    align-items: center;
    
}

body{
    background-color:rgb(220, 200, 200);
}

#divHeader{
    background-color: black;
    width: 0px;
    visibility: hidden;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: 1s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navBotoes{
    display: flex;
    visibility: hidden;
    gap: 50px;
}

.botoesOpcoes{
    width: 150px;
    font-size: x-large;
    border: 0px solid;
    background-color: transparent;
    color: white;
    

}

.botoesOpcoes:hover{
   
    background-color: rgb(128, 128, 128,0.3);
    border-radius: 10px;
    border-bottom: 4px solid red;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#divLogo{
    position: sticky;
    background-color: black;
    border: 4px red solid;
    height: 90px;
    width: min-content;
    
}

#divLogo:hover{
   cursor: pointer;
    opacity: 0.8;
}

#logo{
    width: 90px;
    height: 90px;
}

#divItens{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#categoriaImg{
    /* transform: scale(0.8); */
    width: 450px;
    height: 120px;
}

#categoriaImgRank{
    width: 350px;
}

#categoriaNome{
    font-size:x-large;
}

#divCadaItem{
    padding: 5px;
    border-block: 1px solid;
    
}

#divCadaItem:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.02);
    background-color: black;
    color: rgb(255, 0, 0);
    
    border: red solid;
}

#modal{
    backdrop-filter: blur(10px);
    display: none;
    position: fixed;  
    left: 0%;
    top: 0%;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    align-items: center;
    justify-content: center;
}

#modalConteudo{
    display: flex;
    position: relative;
    background-color: rgb(0, 0, 0,0.8);
    color: rgb(255, 0, 0);
    border: 5px red solid;
    width: 70%;
    height: 70%;
    left: 13%;
    top: 10%;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}



.botoesSlider{
    font-size: xx-large;
    width: 50px;
    height: 150px;
    background-color: rgb(0, 0, 0,0.4);
    color: red;
    border: 1px solid red;
}

.botoesSlider:hover{
   opacity: 0.7;
   cursor: pointer;
   scale: 1.1;
}

#botaoPadrao{
    font-size: x-large;
    width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0,0.4);
    color: red;
    border: 1px solid red;
}

#botaoPadrao:hover{
    opacity: 0.7;
    cursor: pointer;
    scale: 1.1;
}

#modalCategoriaImg{
    transform: scale(0.7);
    width: 500px;
    height: 150px;
}