#Form{
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: rgb(193, 13, 13);
    color: rgb(180, 196, 198);
    padding: 20px;
    font-size: larger;
    border: 3px solid black;
    box-shadow: 5px 10px;
    margin-top: 200px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



input{
    margin-top: 10px;
    box-shadow: 5px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    margin-top: 10px;
    border-radius: 10px;
    font-family: cursive;
    background-color: rgb(193, 13, 13);
    color: rgb(180, 196, 198);
    box-shadow: 5px 3px;
    transition: 1s;
}

button:hover{
    background-color: orange;
    box-shadow: 2px 2px;
}


#divIframe{
    margin-top: -480px;
    margin-left:auto;
    padding: 20px;
    width: 700px;
    height: 500px;
    
   
}

iframe{
    box-shadow: 10px 20px rgb(180, 196, 198);
    width: 700px;
    height: 500px;
    border: 3px solid;
    border-radius: 10px;
}


