body{
background-color: rgb(83, 70, 70);
background-image: url(https://img.freepik.com/fotos-premium/um-por-do-sol-rosa-com-palmeiras-no-horizonte_654523-31.jpg);
background-repeat: no-repeat;
background-size:100%;
}

button:hover{
    font-style: oblique;
    color: blue;
    opacity: 1.0;
}

h1{
 font-size: 50px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: white;
 font-style: oblique;
 text-shadow: 1px 1px 2px black;
}

h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-style: oblique;
    text-shadow: 1px 1px 2px black;
    width: -10rem;
}
   

input{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
    background-color: black;
    height: 2rem;
}

label{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-style: oblique;
    background-color: black;
    width: 10rem;
}

button{
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color:rgb(22, 14, 13);
    color: white;
    width: 10rem;
    height: 3rem;
}
button:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}

.botoes{
  width: 80px;
  height: 30px;
}

