body{
    overflow-x: hidden;
}


.playerBotao{
    width: 70px;
}

#headOpcoes1{
    text-align: center;
}

#opcoes1{
    grid: 1px solid;
    width: 100%;
    display: flex;
    text-align: center;
}

#sliderOpcoes1{
    width: 550px;
    -webkit-appearance: none;
    background-color: rgb(12, 12, 53);
    border: 1px solid;
    border-radius: 10px;
    color: white;
    outline: none;
    opacity: 0.5;
    transition: 0.5s;
    height: 10px;
}

#sliderOpcoes1:hover{
    opacity: 1;
    height: 10px;
}

#sliderOpcoes1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid;
    background-color: rgb(108, 108, 229);
    cursor: pointer;
}
.teste{
    width: 300px;
    height: 300px;
}

.grid{
    width: 325px;
    height: 350px;
}