body {
    background: radial-gradient(circle, rgba(34,167,195,1) 35%, rgba(23,104,207,1) 100%);
    
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: rgb(140, 0, 255);
    font-style: italic;

    
    
}

#divBotoes {
    margin-left: 1300px;
    margin-top: 10px;
    
}

img {
    width: 300px;
    height: 300px;
    border: solid black;

}

img:hover {
    cursor: pointer;
    opacity: 0.7;
}

#nada {
    width: 1000px;
    height: 500px;
    margin-left: 420px;
    margin-top: -90px;
    cursor: auto;
    opacity: 1;
    
    
}

#divGaleria {
    height: 500px;
    margin-left: 300px;
    
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    width: 100px;
    border: 0.5px solid white;
    
}
button:hover {
    background-color: rgb(64, 41, 136);
    cursor: pointer;
    font-style: italic;
    
}

.divInvisivel {
    transition: ease-in-out 500ms;
}