*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    background-color: rgb(25, 24, 24);
    color: white;
}

#divHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 300px;
    height: 100%;
   
}

#botaoModo{
    width: 100px;
    height: 50px;
    font-size: larger;
    border: 0px solid;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

#botaoModo:hover{
    scale: 1.1;
    border: 1px solid white;
}

#divModos{
    display: none;
    padding: 10px;
    background-color: rgb(48, 47, 97);
    box-shadow: 0px 0px 10px black;
    position: relative;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    gap: 5px;
    justify-content: center;
}

header{
    height: 100px;
    background-color: rgb(15, 15, 144);
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    top: 0;
    left: 0;
    position: sticky;
}

#nomeLogo{
    float: left;
}

#navBotoes{
    justify-self: center;
}

.botoesOpcoes{
    width: 150px;
    font-size: large;
    color: white;
    font-size: x-large;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    border: 0px;
}

.botoesOpcoes:hover{
   scale: 1.1;
   border: 1px solid;
}

#divFilmesSeries{
    padding-top: 10px;
    display: flex;
    width: 67%;
    float: right;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    gap: 10px;
    padding-bottom: 10px;
}

#divPaginas{
    padding-top: 10px;
    float: right;
    width: 70%;
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.botoesPaginas{
    width: 50px;
    font-size: larger;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.botoesPaginas:hover{
    background-color: rgb(103, 36, 161);
    cursor: pointer;
}
.selecionado{
    background-color: red;
}

#menuLateral{
    padding-top: 10px;
    float: left;
    width: 20%;
    height: 650px;
    display: flex;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 110px;
    gap: 50px;   
         
}
#miniMenuLateral{
    padding-top: 10px;
    float: right;
    width: 10%;
    height: 330px;
    display: none;
    background-color: rgb(103, 36, 161);
    box-shadow: 10px 10px 1px black;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    text-align: center;
    left: 45vb;
    top: 250px;
    gap: 50px;   
         
}

@keyframes menuAnim{
    from {
        width: 0%;
    }
    to {
        width: 10%;
    }
}

#abrirCategoria1{
    cursor: pointer;
    display: none;
}

#abrirCategoria1:hover{
    color: rgb(103, 36, 161);
}

#abrirCategoria2{
    cursor: pointer;
    display: none;
}

#abrirCategoria2:hover{
    color: rgb(103, 36, 161);
}

#divGenero{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#divFaixaEtaria{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.botoesCategorias{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: large;
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.botoesCategorias2{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: large;
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.botoesCategorias:hover{
    background-color: rgb(103, 36, 161);
    border: 1px solid rgb(103, 36, 161);
    color: white;
    
}

.botoesCategorias2:hover{
    background-color: rgb(103, 36, 161);
    border: 1px solid rgb(103, 36, 161);
    color: white;
    
}

#botaoPadrao{
    display: none;
    background-color: rgb(103, 36, 161);
    border: 1px solid rgb(103, 36, 161);
    color: white;
    height: 50px;
    cursor: pointer;
    font-size: larger;
    border-radius: 10px;
}

#botaoFiltrar{
    background-color: rgb(103, 36, 161);
    border: 1px solid rgb(103, 36, 161);
    font-size: larger;
    color: white;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}



#botaoVerMais{
    width: 82.5%;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-size: x-large;
    background-color: rgb(103, 36, 161);
}

html{
    scroll-behavior: smooth;
}

#divCadaItem{
    width: 300px;
    height: 400px;
    gap: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    padding: 10px;
    transition: .5s; 
    justify-content: center;
    align-items: center; 
    text-align: center;  
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 30%;
    
}

@keyframes aparecer {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

#divCadaItem:hover{
    opacity: 0.7; 
    position: static;
}

@keyframes divAnim{
    from {
        scale: 1;
        background-color: black;
        opacity: 1;
    }
    to {
        scale: 20;
        opacity: 1;
        background-color: black;
    }
}



#descItem{
    position: fixed;
    display: none;
    z-index: 1;
    font-size: medium;
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: 1s;
}

#divImg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    transition: 1s;
}

#imgItem{
    border-radius: 10px;
    transition: 1s;
    position: absolute;
}

#divAvaliacao{
    border-radius: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: rgb(103, 36, 161);
    color: white;
    top: -140px;
    left: 100px;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
}



#trocaModo{
    width: 100%;
    height: 25px;
    -webkit-appearance: none;
    border-radius: 10px;  
    background: #727682;
    outline: none;
    -webkit-transition: .2s;
    
}
  
#trocaModo::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
    transition: .3s;
}

#trocaModo::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0.7;
    background: black;

}

#modal{
    left: 0;
    top: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#modalAlerta{
    right: 100px;
    top: -20px;
    position: absolute;
    background-color: red;
    width: 20%;
    height: 20%;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: 5px solid;
    border-radius: 10px;
    font-size: medium;
}



@keyframes alertaAnim{
    from {
      height: 0%;  
    }
    to {
        height: 20%;
    }
}

#modalConteudo{
    background-color: rgb(103, 36, 161);
    border: 1px solid;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    position: relative;
}

#modalFechar{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 2300px;
    top: 50px;
    font-size: 50px;
    background-color: transparent;
    color: white;
    border: none;
}

#modalFechar:hover{
    cursor: pointer;
}

#modalImgItem{
    width: 300px;
    box-shadow: 10px 10px 0px black;
    border-radius: 10px;
}

#modalDivImg{
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    padding-top: 15px;
    gap: 30px;
}

#modalDivDescVideo{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 700px;
    float: right;
    overflow: auto;
    padding: 10px;
    gap: 20px;
}

#modalIframe{
    height: 600px;
    border: 0px;
    border-radius: 20px;
    box-shadow: -10px 10px 0px black;

}
